1 24 "cursorpad.manifest"
200 CURSOR "cursors/k2_static.cur"
210 CURSOR "cursors/k3_static.cur"
220 CURSOR "cursors/k2_ibeam.cur"
221 CURSOR "cursors/k3_ibeam.cur"
230 CURSOR "cursors/k2_hand.cur"
231 CURSOR "cursors/k3_hand.cur"
232 CURSOR "cursors/k2_help.cur"
233 CURSOR "cursors/k3_help.cur"
234 CURSOR "cursors/k2_no.cur"
235 CURSOR "cursors/k3_no.cur"
236 CURSOR "cursors/k2_cross.cur"
237 CURSOR "cursors/k3_cross.cur"
240 CURSOR "cursors/k2_sizewe.cur"
241 CURSOR "cursors/k3_sizewe.cur"
242 CURSOR "cursors/k2_sizens.cur"
243 CURSOR "cursors/k3_sizens.cur"
244 CURSOR "cursors/k2_sizenwse.cur"
245 CURSOR "cursors/k3_sizenwse.cur"
246 CURSOR "cursors/k2_sizenesw.cur"
247 CURSOR "cursors/k3_sizenesw.cur"
248 CURSOR "cursors/k2_sizeall.cur"
249 CURSOR "cursors/k3_sizeall.cur"
250 CURSOR "cursors/k2_up.cur"
251 CURSOR "cursors/k3_up.cur"
252 CURSOR "cursors/k2_pin.cur"
253 CURSOR "cursors/k3_pin.cur"
254 CURSOR "cursors/k2_person.cur"
255 CURSOR "cursors/k3_person.cur"
300 RCDATA "cursors/k2_wait.ani"
301 RCDATA "cursors/k3_wait.ani"
302 RCDATA "ocr.ps1"
303 RCDATA "cursors/k2_app.ani"
304 RCDATA "cursors/k3_app.ani"
305 RCDATA "CursorPadOcr.exe"
260 CURSOR "cursors/k4_static.cur"
261 CURSOR "cursors/k4_ibeam.cur"
262 CURSOR "cursors/k4_hand.cur"
263 CURSOR "cursors/k4_help.cur"
264 CURSOR "cursors/k4_no.cur"
265 CURSOR "cursors/k4_cross.cur"
266 CURSOR "cursors/k4_sizewe.cur"
267 CURSOR "cursors/k4_sizens.cur"
268 CURSOR "cursors/k4_sizenwse.cur"
269 CURSOR "cursors/k4_sizenesw.cur"
270 CURSOR "cursors/k4_sizeall.cur"
271 CURSOR "cursors/k4_up.cur"
272 CURSOR "cursors/k4_pin.cur"
273 CURSOR "cursors/k4_person.cur"
306 RCDATA "cursors/k4_wait.ani"
307 RCDATA "cursors/k4_app.ani"
320 RCDATA "tools/cutting.html"
321 RCDATA "tools/tiff-merge.html"
322 RCDATA "tools/tiff-a4-a3.html"
